.App {
  text-align: center;
  
}
body{

  background-color:#ccc
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.address-row{
  border: solid 2px #76dcc3;
  padding: 10px;
  margin: 7px;
  border-radius: 6px;
}
.address-row input[type='checkbox']{
float: right;
}



.login-button{

  background-color: #76dcc3;
  color: white;
  font-size: 19pt;
  border-radius: 11px;
  width: 200px;
  font-weight: bold;

}

.save-button{
  background-color: #695ea2;
  color: white;
  font-size: 19pt;
  border-radius: 11px;
  width: 200px;
  font-weight: bold;
  margin: 10px auto;
  display: block
}

.container{
  background-color: white;
    padding: 19px;
}

